name: debtdude
description: A new Flutter project.
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.1.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.2
  firebase_core: ^3.6.0
  firebase_auth: ^5.3.1
  cloud_firestore: ^5.4.3
  permission_handler: ^11.0.1
  flutter_sms_inbox: ^1.0.2
  flutter_bloc: ^8.1.3
  http: ^1.1.0
  intl: ^0.20.2


dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

dependency_overrides:
  web: ^0.5.1
  js: ^0.7.1

flutter:
  uses-material-design: true
  assets:
    - assets/images/